<p class="main-menu-name">DURAK</p>

<div class='main-menu'>
    <a href="/"></a><button href='/play' class='main-menu-button-play'>Играть</button>
    <a href="/scoreboard"><button href='/scoreboard' class='main-menu-button-scoreboard'>Таблица лидеров</button>
</div>