<p class="main-menu-name">DURAK</p>

<div class='main-menu'>
    <a href='/play'></a><button class='main-menu-button-play'>Играть</button>
    <a href='/scoreboard'><button class='main-menu-button-scoreboard'>Таблица лидеров</button>
</div>

{{#if isLogin}}
    <p>Выполнен вход</p>

    <form action="/logout" method="POST" style="display: inline;">
        <button type="submit" class="main-menu-button-logout">Выйти</button>
    </form>
{{else}}
    <p>Вход не выполнен</p>

    <a href="/login"><button class="main-menu-button-login">Войти</button></a>
{{/if}}