<h1>Вход в аккаунт</h1>

<form action="/login" method="POST">
    <label for="login">Логин:</label><br>
    <input type="text" id="login" name="login" required><br><br>

    <label for="password">Пароль:</label><br>
    <input type="password" id="password" name="password" required><br><br>

    <input type="submit" value="Войти">
</form>

<h4>Нет аккаунта? <a href="/register">Зарегистрируйтесь!</a></h4>

<a href="/">Назад</a>