<div class="authorization-page">
    <p class="authorization-label">Вход в аккаунт</p>

    <form action="/login" method="POST" class="authorization-form">
        <input type="text" id="login" name="login" placeholder="Логин" required>
        <input type="password" id="password" name="password" placeholder="Пароль" required>
        <input type="submit" value="Войти">
    </form>

    <p class="auth-foot">Нет аккаунта? <a href="/register" class="auth-link">Зарегистрируйтесь!</a></p>
</div>

<a href="/"><button class="button-icon button-icon-back"></button></a>