<div class="authorization-page">
    <p class="authorization-label">Регистрация аккаунта</p>

    <form action="/register" method="POST" class="authorization-form">
        <input type="text" id="login" name="login" placeholder="Логин" required>
        <input type="password" id="password" name="password" placeholder="Пароль" required>
        <input type="password" id="confirm_password" name="confirm_password" placeholder="Повторите пароль" required>
        <input type="submit" value="Зарегистрироваться">
    </form>

    <p class="auth-foot">Есть аккаунт? <a href="/login" class="auth-link">Войдите!</a></p>
</div>

<a href="/"><button class="button-icon button-icon-back"></button></a>