* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* MAIN MENU - START */

.main-menu-name {
    text-align: center;
    font-size: 36px;
    color: black;
    margin-top: 20px;
    margin-bottom: 30vh;
}

.main-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-menu-button-game {
    padding: 20px 90px;
    font-size: 28px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: background-color 0.3s;
}

.main-menu-button-game:hover {
    background-color: #0056b3;
}

.main-menu-button-scoreboard {
    padding: 10px 24px;
    font-size: 20px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.main-menu-button-scoreboard:hover {
    background-color: #0056b3;
}

/* MAIN MENU - END */

/* SCOREBOARD MENU - START */

/* SCOREBOARD MENU - END */

/* GAME - START */

.all-visual {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.game-info {
    width: 200px;
    background-color: #f5f5dc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.deck-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border: 2px solid red;
}

.deck-count {
    color: black;
    font-weight: bold;
    font-size: 24px;
}

.game-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: antiquewhite;
}

.bot-area {
    display: flex;
    justify-content: center;
    padding: 20px 20px 0 20px;
    background-color: rgb(169, 255, 186);
    height: 20vh;
}

.player-area {
    display: flex;
    justify-content: center;
    padding: 0 20px 20px 20px;
    background-color: rgb(169, 255, 186);
    height: 20vh;
}

.player-cards, .bot-cards {
    display: flex;
    gap: 10px;
}

.card {
    width: 59px;
    height: 98px;
    object-fit: cover;
}

.jump-card:hover {
    transform: translateY(-10px);
    transition: transform 0.3s;
    cursor: pointer;
}

.down-jump-card:hover {
    transform: translateY(10px);
    transition: transform 0.3s;
    cursor: pointer;
}

.table-area {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    gap: 10px;
}

.game-button-exit {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    cursor: pointer;
}

/* GAME - END */

.dragging {
    opacity: 0.5;
    transform: scale(1.1);
}

.card-slot {
    display: flex;
    gap: 5px;
    margin: 5px;
}

.attack-slot, .defense-slot {
    width: 59px;
    height: 98px;
    border-radius: 5px;
}

.attack-slot {
    background-color: rgba(255, 0, 0, 0.1);
}

.defense-slot {
    background-color: rgba(0, 255, 0, 0.1);
}

.card-slot img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.action-button {
    padding: 8px 16px;
    margin: 10px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    color: white;
    transition: all 0.2s;
}

.action-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.beaten-button {
    background-color: #449c47;
}

.take-button {
    background-color: #ff9900;
}

.pass-button {
    background-color: #db3b30;
}