* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* MAIN MENU - START */

.main-menu-name {
    text-align: center;
    font-size: 36px;
    color: black;
    margin-top: 20px;
    margin-bottom: 30vh;
}

.main-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-menu-button-game {
    padding: 20px 90px;
    font-size: 28px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: background-color 0.3s;
}

.main-menu-button-game:hover {
    background-color: #0056b3;
}

.main-menu-button-scoreboard {
    padding: 10px 24px;
    font-size: 20px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.main-menu-button-scoreboard:hover {
    background-color: #0056b3;
}

/* MAIN MENU - END */

/* SCOREBOARD MENU - START */

/* SCOREBOARD MENU - END */

/* GAME - START */

.game-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 20px;
    justify-content: space-between;
    background-color: antiquewhite;
    gap: 10px;
    border: 2px solid black;
}

.bot-area, .player-area {
    display: flex;
    justify-content: center;
    border: 2px solid purple;
}

.player-cards, .bot-cards {
    display: flex;
    gap: 10px;
}

.card {
    width: 78px;
    height: 130px;
    object-fit: cover;
}

.jump-card:hover {
    transform: translateY(-10px);
    transition: transform 0.3s;
    cursor: pointer;
}

.middle-area {
    display: flex;
    flex-direction: row;
    left: 20px;
    right: 20px;
    top: 50%;
    gap: 40px;
}

.deck-area {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 2px solid red;
}

.deck-count {
    color: black;
    font-weight: bold;
    font-size: 24px;
}

.table-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    gap: 10px;
}

.attack-zone, .defense-zone {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid green;
}

.game-button-exit {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    cursor: pointer;
}

/* GAME - END */